
.ui-content {
    margin: 5px; /* Ajusta el margen según sea necesario */
}
#lista{
   p{
    margin: 3px;
   } 
 
}
 h5{
padding: 5px;
margin: 0;
text-align: start;
background-color: rgb(216, 233, 248);
  }
.portador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height:80lvh ;
    width: 100%;
}
#map-page, #map-canvas { width: 100%; height: 100%; padding: 0; }
#portador{
    display: none;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#ul{
   flex-direction: column;
    align-content: center;
  padding: 0;
   margin-bottom: 10px;
    width: 40%; 
    list-style: none;
    cursor: pointer;

li{
    width: 100%;
}
}
#qr{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#qrA{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#v{
    display: flex;
    opacity: 0;
}
